.landing {
  .sign-controls a {
    text-decoration: none;
    &:hover {
      color: lighten($dark, 10);
    }
  } 

  .promotion-message {
    padding-top: 280px;

    a {

      &:hover {
        color: lighten($dark, 10);
      }
    }
  }
}
